        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
        }

        h1 {
            margin: 0px;
            font-size: 2.5em;
            text-align: center;
        }
        #posts {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 30px;
        }
        .post {
            background-color: white;
            padding: 10px;
            border-radius: 8px;
        }

        .article-title {
            font-size: 1.8em;
            color: #333;
            margin-bottom: 10px;
        }
        .article-review {
            font-size: 1.1em;
            color: #555;
            line-height: 1.6;
        }
        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #F0C700;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: 1.2em;
            text-align: center;
            width: 20%;
            margin-left: 565px;
        }

        .link1 {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: black;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: .8rem;
            text-align: center;
            width: 10%;
            margin-left: 1275px;
        }

        .logo {
            color: #030303;
            background-color: #D1A700;
            text-decoration: none;
            font-weight: bold;
            font-size: 2rem;
            padding: 10px 15px;
            width: 10%;
            margin-left: 1300px;
        }